<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./">
        <mat-icon matListItemIcon class="icon">home</mat-icon>Home
      </a>
      <a mat-list-item routerLink="./product" routerLinkActive="active"><mat-icon matListItemIcon>redeem</mat-icon>Product</a>
      <a mat-list-item routerLink="./category" routerLinkActive="active"><mat-icon matListItemIcon>category</mat-icon>Catégorie</a>
      <a mat-list-item routerLink="./supplier" routerLinkActive="active"><mat-icon matListItemIcon>person</mat-icon>Founisseur</a>
      <a mat-list-item routerLink="./customer" routerLinkActive="active"><mat-icon matListItemIcon>person</mat-icon>Client</a>
      <a mat-list-item routerLink="./purchase" routerLinkActive="active"><mat-icon matListItemIcon>payments</mat-icon>Achat</a>
      <a mat-list-item routerLink="./sale" routerLinkActive="active"><mat-icon matListItemIcon>sell</mat-icon>Sale</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="text-uppercase">boutique-meche</span>
      <div class="spacer"></div>


      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" routerLinkActive="active">Sing in</button>
        <button mat-menu-item (click)="LogOut()" routerLinkActive="active">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>