.grid-container {
  margin: 20px;
}

table {
  width: 100%;
}

.excel {
  color: #209e62;
  border: 1px solid #209e62;
}



.spinner {
  position: absolute;
  top: 15rem;
  left: 30rem;
  background-color: #ccc;
}

mat-form-field {
  width: 600px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-flex;
  margin: 4px;
}
