<div class="grid-container">
    <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button
            matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>Facture</h1>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mat-h2">Les Factures</h2>
            <div>
                <p></p>
            </div>
            <!-- Table start -->
            <mat-card>
                <mat-card-content>
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th scope="col">NUMERO DE LA COMMANDE</th>
                                <th scope="col">Produits</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>INV-3432</td>
                                <td>pd1</td>
                                <td>PENDING</td>
                                <td>25/11/203</td>
                                <td>223</td>
                                <td>voir</td>
                            </tr>
                            <tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>INV-3432</td>
                                <td>
                                    <ul>
                                        <li>p1</li>
                                        <li>p2</li>
                                        <li>p3</li>
                                        <li>p4</li>
                                    </ul>
                                </td>
                                <td>PENDING</td>
                                <td>25/11/203</td>
                                <td>223</td>
                                <td>voir</td>
                            </tr>

                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
            <!-- Table end -->
        </div>
    </div>
</div>