<div class="grid-container">
    <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button
            matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>Les Charges</h1>
    <ng-container>
        <div class="row">
            <!-- start list charge -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mat-h2">List Des Charges</h2>
                    <div>
                        <button *ngIf="charge.length === 0" matTooltip="Charges" mat-icon-button (click)="addCharge()">
                            <mat-icon>add</mat-icon></button>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Salaire Total </th>
                                    <th scope="col">Import</th>
                                    <th scope="col">Loyer</th>
                                    <th scope="col">Electricite</th>
                                    <th scope="col">Ration</th>
                                    <th scope="col">Tranport</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let charge of charge">
                                    <th scope="row">{{ charge.totalSalary }}</th>
                                    <td>{{ charge.impot }}</td>
                                    <td>{{ charge.loyer }}</td>
                                    <td>{{ charge.electricity }}</td>
                                    <td>{{ charge.ration }}</td>
                                    <td>{{ charge.transport }}</td>

                                    <td>
                                        <button matTooltip="Modifier Les Valeurs Des Charges" mat-icon-button
                                            (click)="updateCharge(charge)"> <mat-icon>edit</mat-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end list charge -->
        </div>
    </ng-container>
</div>