<div class="grid-container">
    <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button
            matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>Achat</h1>
    <!-- shopping_cart -->
    <div class="row mb-3">
        <div class="col-lg-12">
            <h3 class="mat-h3">Selectioner Le Produit A Achete</h3>
            <!-- Product list start -->
            <div class="col-md-8">
                <div class="mb-2">
                    <button matTooltip="Ajouter Un Nouveau Produit" mat-raised-button color="primary"
                        class="text-uppercase" routerLink="../product" routerLinkActive="active">AJOUTER UN
                        PRODUIT</button>
                </div>
                <h3 class="mat-h3">Liste Des Poduits</h3>
                <ng-container>
                    <ng-container *ngIf="state === DataState.LOADING_STATE">
                        <mat-spinner></mat-spinner>
                    </ng-container>
                    <ng-container *ngIf="state === DataState.LOADED_STATE">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col"># </th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Couleur</th>
                                        <th scope="col">Taille</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Prix de Vente</th>
                                        <th scope="col">Categorie</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="p-3">
                                    <tr *ngFor="let product of products">
                                        <th scope="row">{{ product.id }}</th>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.color }}</td>
                                        <td>{{ product.length}}</td>
                                        <td>{{ product.code }}</td>
                                        <td>{{ product.salePrice | CustomCurrency }}</td>
                                        <td>{{ product.productCategory.name }}</td>
                                        <td>
                                            <button matTooltip="Vendre Ce Produit" mat-raised-button class="text-uppercase text-primary"
                                                (click)="buyNewProduct(product)">ACHECTER CE PRODUIT</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <!-- Product list end-->
        </div>
    </div>
    <!-- purchse start -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="mat-h3">Liste Des Prduits Achetes</h3>
            <!-- Purchase -->
            <ng-container *ngIf="appState$ | async as dataState" [ngSwitch]="dataState">
                <!-- LOADIND -->
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <mat-spinner></mat-spinner>
                </ng-container>
                <!-- LOADED -->
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <!-- Purchase table start -->
                    <mat-form-field appearance="outline">
                        <mat-label>Recherche </mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="purchaseAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.purchaseAt | date }} </td>
                            </ng-container>

                            <ng-container matColumnDef="product">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du produit </th>
                                <td mat-cell *matCellDef="let row"> {{row.product.name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix du produit </th>
                                <td mat-cell *matCellDef="let row"> {{row.price }} </td>
                            </ng-container>

                            <ng-container matColumnDef="salePrice">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix De Vente Du Produit </th>
                                <td mat-cell *matCellDef="let row"> {{row.salePrice }} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantite </th>
                                <td mat-cell *matCellDef="let row"> {{row.quantity }} </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant</th>
                                <td mat-cell *matCellDef="let row"> <span class="number">{{row.amount | CustomCurrency }}</span> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                    <!-- end purchase table -->
                </ng-container>
                <!-- ERROR -->
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="container">
                        <div class="error">
                            Une erreur s'est produite. Veuillez recharger L'Application.
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <!-- purchase end -->
    </div>