<div class="dialog-message">
    <div mat-dialog-content class="dialog-content">
        <p>En Validant Cette Vente Vous</p>
        <p> Confirmez Vous Avoir Recus </p>
        <p class="mb-3">La Sommes Due A La Vente </p>
        <small class="text-danger">Ce Processus Est Irreversible!</small>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button (click)="save()" class="">Oui</button>
        <button mat-raised-button color="warn" (click)="cancel()">Non</button>
    </div>
</div>