.grid-container {
  margin: 20px;
}

table {
  width: 100%;
}

.badge-success {
  color: white;
  /* background-color: rgb(13, 102, 32); */
  background-color: #238636;
  font-weight: bold;
  padding: 8px;
  border-radius: 15px;
}

.badge-danger {
  color: white;
  background-color: #f44336;
  font-weight: bold;
  padding: 8px;
  border-radius: 15px;
}

.excel {
  color: #209e62;
  border: 1px solid #209e62;
}

.spinner {
  position: absolute;
  top: 15rem;
  left: 30rem;
}

mat-form-field {
  width: 600px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-flex;
  margin: 4px;
}

.error {
  background-color: #f44336;
  color: #ffffff;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 1px;
  font-size: 18px;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}