<div class="grid-container">
    <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button matTooltip="Retour">
            <mat-icon>arrow_back</mat-icon></button>Etat Des Stocks</h1>
    
        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- Up Column -->
                        <ng-container matColumnDef="up">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button class="green" *ngIf="element.up"> <mat-icon class="green">upgrade</mat-icon> </button>
                                <button mat-icon-button class="warn" *ngIf="!element.up"> <mat-icon class="warn"> vertical_align_bottom</mat-icon>
                                </button>
                            </td>

                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date:'short' }} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="label">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation </th>
                            <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="productName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Produit </th>
                            <td mat-cell *matCellDef="let element"> {{element.productName }} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="orldQuantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantite</th>
                            <td mat-cell *matCellDef="let element"> {{element.orldQuantity}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="orldPrice">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix D'achat </th>
                            <td mat-cell *matCellDef="let element"> {{element.orldPrice  }} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="orldAmount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total FCFA</th>
                            <td mat-cell *matCellDef="let element"> {{element.oldAmount }} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="newQuantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantite </th>
                            <td mat-cell *matCellDef="let element">
                                <span [ngClass]="[element.newQuantity <= 50 ? 'badge-danger' : 'badge-success' ]">
                                    {{element.newQuantity}} </span>

                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="newPrice">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix Vente </th>
                            <td mat-cell *matCellDef="let element"> {{element.newPrice  }} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="newAmount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total  FCFA</th>
                            <td mat-cell *matCellDef="let element"> <span class="number"> {{element.newAmount
                                    }}</span> </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </div>
        </div>
</div>