.grid-container {
    margin: 20px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}


.spinner {
    position: absolute;
    top: 15rem;
    left: 30rem;
}



.error {
    background-color: #f44336;
    ;
    color: #ffffff;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 1px;
    font-size: 18px;
}