<h1 mat-dialog-title>Vous Enregistrer L'achat De Ce Produit</h1>
<div mat-dialog-content [formGroup]="formPurchase">

    <div class="row">
        <div class="col mb-3">
            <label class="form-label">Nom Du Produit</label>
            <input value="{{ data.name }}" class="form-control">
        </div>

        <div class="col mb-3">
            <label class="form-label">Categorie Du Produit</label>
            <input value="{{ data.productCategory.name }}" class="form-control">
        </div>
    </div>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Prix Unitaire D'Achat </mat-label>
            <input matInput formControlName="price">
            <mat-error>Veillez Enregistrer Les Prix Positives </mat-error>
            <mat-hint>Ex 3000.00</mat-hint>
            <span matTextPrefix>CFA&nbsp;</span>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Quantite Achete</mat-label>
            <input matInput formControlName="quantity">
            <mat-error>Entrer Que Les Nombres positifs Superieure A 0.</mat-error>
        </mat-form-field>
    </p>

    <div formGroupName="formSupplier">
        <mat-form-field appearance="outline">
            <mat-label>Selectioner Le Fournisseur </mat-label>
            <mat-select formControlName="id">
                <mat-option *ngFor="let supplier  of suppliers" [value]="supplier.id">{{ supplier.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div formGroupName="formProduct" hidden>
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Prix Vente </mat-label>
        <input matInput formControlName="salePrice">
        <mat-error>Veillez Enregistrer Les Prix Positives </mat-error>
        <mat-hint>Ex 3000.00</mat-hint>
        <span matTextPrefix>CFA&nbsp;</span>
        
    </mat-form-field>


</div>
<div mat-dialog-actions>
    <button matTooltip="ANNULER" mat-raised-button color="warn" (click)="onClose()">ANNULER</button>
    <button matTooltip="ENREGISTRER" mat-raised-button [disabled]="!formPurchase.valid" cdkFocusInitial color="primary"
        (click)="onPurchaseProduct()">ENREGISTRER</button>
</div>