<div class="container mt-4">
   <div class="start-image">
    <div class="row mt-5 ">
        
            <div class="start-text">
                <div class="spinner-container" *ngIf="loading$ | async ">
                    <mat-spinner class="spinners mb-3" color="primary"></mat-spinner>
                    <h3>Demarage En Cours ...</h3>
                    <h3 class="">UNIVERSAL MECHE</h3>
                </div>
                <div class="" *ngIf="!(loading$ | async )">
                    <h1 class="h1 text-center text-uppercase">Bienvenu sur Universale Meche</h1>
                    <button class="start-button" (click)="onGo()" mat-raised-button color="accent"
                        align="center">COMMENCER</button>
                </div>
                <div *ngIf="!(loading$ | async )" align="center">
                    
                </div>
            </div>
       
    </div>

   </div>
</div>