<div class="grid-container">
  <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button
      matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>Produit</h1>
  <div class="row">
    <!-- Product list start -->
    <div class="col-md-12">
      <div class="mb-2">
        <button matTooltip="Ajouter Un Nouveau Produit" (click)="addNewProduct()" mat-raised-button color="primary"
          class="text-uppercase"><mat-icon>add</mat-icon>Ajouter Un Nouveau Produit</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button matTooltip="Voir la liste des catégories" mat-raised-button color="primary" class="text-uppercase"
          routerLink="../category" routerLinkActive="active"><mat-icon>lists</mat-icon>voir les catégories</button>
      </div>
      <h2 class="mat-h2">Liste Des Produits</h2>
      <button class="mb-3 excel" matTooltip="Telechrger La Liste Des Produits" (click)="printReportProduct()" mat-icon-button
        color=""><i class="fa-solid fa-file-excel"></i></button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="product-table">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Prix </th>
            <td mat-cell *matCellDef="let element"> {{element.price | CustomCurrency}} </td>
          </ng-container>

          <ng-container matColumnDef="salePrice">
            <th mat-header-cell *matHeaderCellDef> Prix de vente </th>
            <td mat-cell *matCellDef="let element"> <span>{{element.salePrice | CustomCurrency}} </span></td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> Couleur </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="lenght">
            <th mat-header-cell *matHeaderCellDef> La Taille </th>
            <td mat-cell *matCellDef="let element"> {{element.length }} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Le Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code }} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>&nbsp;
              <button mat-icon-button (click)="onDelete(element.id)"> <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>
    <!-- Product list end-->
    <div class="col-md-4">
      <div class="mb-2">

      </div>

    </div>
  </div>
</div>