.grid-container {
    margin: 20px;
}

input:focus {
border: 1px solid darkorange;
}
.number {
    color: #238636;
    font-weight: bold;
  }
  
  .negative {
    color: #c0392b;
    font-weight: bold;
  }
.day{
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
}