<div class="grid-container">
    <h1 class="mat-h1"> <button routerLink="../" routerLinkActive="active" mat-icon-button
            matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>Billan</h1>


    <ng-container *ngIf="state === DataState.LOADED_STATE">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="" class="form-label">Nombre de Vente Du Jours</label>
                            <input class="form-control number" [value]="totalAmuntSalePerDay" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Total Vente Du Jours</label>
                            <input class="form-control number" [value]="totalSalePerDay" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Achat ToTal Du Moi</label>
                            <input class="form-control number" [value]="totalAmountPurchasePerMonth" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Total Des Charges Du Moi</label>
                            <input class="form-control number" [value]="charges" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="" class="form-label"> Total Des Ventes Du Moi</label>
                            <input class="form-control number" [value]="totalAmountSalePerMonth" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Gain Possible Du Moi</label>
                            <input class="form-control" [ngClass]="earn > 0 ? 'number' : 'negative'" [value]="earn" disabled>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="state === DataState.LOADING_STATE">
        <div class="pt-4" align="center">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="state === DataState.ERROR_STATE">
        <div class="col-md-12">
            <div class="error">
                Une erreur s'est produite. Veuillez recharger l'application.
                <i class="fa-solid fa-face-pensive"></i>
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-content>
                    <canvas id="myChart"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-content>
                    <canvas id="salePermonth"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>