<div class="grid-container">
  <h1 class="mat-h1">Dashboard {{ currentDate | date:'short'}} </h1>

  <!--  Global stats-->
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card">
          <div class="card-body">
            <h6 class="m-b-20">FACTURE TOTAL</h6>
            <h2 class="text-end t"><mat-icon class="icon f-left icon-facture">receipt_long</mat-icon><span>0</span></h2>
            <h6 class="m-b-0">FACTURE TOTAL JOUR<span class="f-right">0</span></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="m-b-20">ACHAT TOTAL</h6>
          <h2 class="text-end"><mat-icon class="icon f-left icon-purchase">shopping_cart</mat-icon><span>{{
               purchaseAmount | number}}</span></h2>
          <h6 class="m-b-0">ACHAT TOTAL JOUR<span class="f-right">{{ purchaseAmountSize }}</span></h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <div class="card">
        <div class="card-body">
          <h6 class="m-b-20">COMMANDE TOTAL</h6>
          <h2 class="text-end"><mat-icon class="icon f-left ">shopping_cart_checkout<span
                class="material-symbols-outlined">
                order_approve
              </span></mat-icon><span>{{ 0 | currency}}</span></h2>
          <h6 class="m-b-0">COMMANDE TOTAL JOUR<span class="f-right">0</span></h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <div class="card">
        <div class="card-body">
          <h6 class="m-b-20">VENTE TOTAL</h6>
          <h2 class="text-end"><mat-icon class="icon f-left icon-vente">sell</mat-icon><span>{{ totalAmountSalePerDay | number }}</span>
          </h2>
          <h6 class="m-b-0">VENTE TOTAL JOUR<span class="f-right">{{ totalItemSalePerDay }}</span></h6>
        </div>
      </div>
    </div>
  </div><!--  -->
  <!--  -->
  <div class="row mb-3">
    <!--  Start row Recent-->
    <div class="col-md-12">
      <h3>Activitée récentes</h3>

      <!-- Tab start -->

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Nom Du Produit </th>
            <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="createAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createAt | date}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom Du Client </th>
            <td mat-cell *matCellDef="let element"> {{element.customer.name}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Montant </th>
            <td mat-cell *matCellDef="let element"> {{element.amount | currency }} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="saleStatus">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="[element.status === SaleStatus.PENDING ? 'badge-danger': 'badge-success'] ">
                {{element.status}}</span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div><!--  End row Recent-->
  </div><!--  -->
  <!--  -->
  <div class="row">
    <div class="col ">
      <mat-card style="border: 1px solid #ccc;">
        <mat-card-content class="p-4">
          <canvas id="stock" style="height: 230px; width: 230px;"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--  -->
</div>