/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,500&display=swap');

/* #d29922 progress */
/* #238636 success */
/* #f85149 error */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  font-family:  Archivo;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.delete{
  color: #f85149
}

.error {
  background-color: #f44336;
  color: #ffffff;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 4px;
  font-size: 18px;
}

.number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #238636;
}

.negative {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #c0392b;
  /* Dark red */
}

.spinner {
  position: absolute;
  top: 15rem;
  left: 30rem;
}


.badge-success {
  color: white;
  /* background-color: rgb(13, 102, 32); */
  background-color: #238636;
  /* background-color: #2a963e; */
  text-align: center;
  border: 1px solid #238636;
  font-weight: bold;
  padding: 5px;
  border-radius: 2rem;
}

.badge-danger {
  color: white;
  /* background-color: #8957e5; 
  background-color: #d29922;
  */
  background-color: #f44336;
  text-align: center;
  border: 1px solid #f44336;
  font-weight: bold;
  padding: 5px;
  border-radius: 2rem;
}