<div class="grid-container">
    <h1 class="mat-h1">
        <button routerLink="../product" routerLinkActive="active" mat-icon-button
            matTooltip="Retour"><mat-icon>arrow_back</mat-icon></button>
        Catégorie</h1>
    <div class="row">
        <!-- Product category -->
        <div class="col-md-6">
            <mat-card>
                <mat-card-content>
                    <h3 class="mat-h3">Ajouter Une Nouvelle Catégorie </h3>
                    <!-- Form product category start -->
                    <div class="mb-3">
                        <form [formGroup]="productCategoryForm" (ngSubmit)="onSubmitProductCategory()">
                            <div class=" row mb-2">
                                <div class="col">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nom</mat-label>
                                        <input matInput formControlName="name" id="name">
                                        <mat-hint>Ex. Mèches synthétiques</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-2">
                                <button mat-flat-button color="accent" type="submit"
                                    [disabled]="!productCategoryForm.valid" *ngIf="!(isLoading$ | async)">
                                    AJOUTER
                                </button>
                                <button class="btn btn-primary" type="button" disabled *ngIf="(isLoading$ | async)">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>
                        </form>
                    </div><!-- Form product category start -->
                </mat-card-content>
            </mat-card>
        </div><!-- Product product category end -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <h1 class="mat-h3">Liste </h1>
                <table class="table">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col"># </th>
                      <th scope="col">Nom</th>
                     
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of categorys">
                      <th scope="row">{{ category.id }}</th>
                      <td>{{ category.name }}</td>
                      
                      <td>
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>