<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="grid-container">
    <h1 class="mat-h1">
        <button routerLink="/admin/invoices" routerLinkActive="active" mat-icon-button matTooltip="Retour">
            <mat-icon>arrow_back</mat-icon></button>
        Details De La Facture
    </h1>
    <ng-container *ngIf="state === DataState.LOADING_STATE">
        <div class="row">
            <div class="col-md-12">
                <div class="spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="state === DataState.ERROR_STATE">
        <div class="container">
            <div class="col-md-12">
                <div class="error">
                    Une erreur s'est produite. Veuillez recharger l'application.
                    <i class="fa-solid fa-face-pensive"></i>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="invoices$ | async">
        <div class="container">
            <div class="col-md-12">
                <div class="invoice-company text-inverse f-w-600  mb-5">
                    <span class="pull-right hidden-print mt-2">
                        <button mat-icon-button matTooltip="Imprimer Cette Facture" (click)="exportToPDF(invoiceNumer)">
                            <mat-icon>print</mat-icon></button>
                    </span>
                </div>
                <div id="invoice-contents" class="invoice">
                    <!-- begin invoice-company -->
                    <div class="invoice-company text-inverse f-w-600  mb-5">
                        <div class="logo">
                            <img src="/assets/logo-universal.jpeg" alt="UNIVERSAL MECHE">
                        </div>
                    </div>
                    <!-- end invoice-company -->
                    <!-- begin invoice-header -->
                    <div class="invoice-header">
                        <div class="invoice-from">
                            <small>De</small>
                            <address class="m-t-5 m-b-5">
                                <strong class="text-inverse">UNIVERSAL MECHE.</strong><br>
                                <br>
                                Ville, CDI MEFOU ET AFAMBA <br>
                                Tele: (+237) 671309015<br>
                                Numéro D'indentifiant Unique Des Impôt(NIU): P068518557761Y
                            </address>
                        </div>
                        <div class="invoice-to">
                            <small>A</small>
                            <address class="m-t-5 m-b-5">
                                <strong class="text-inverse">{{ customerEmail }}</strong><br>
                                <br>
                                Ville, {{ customerAddress }}<br>
                                Tele: (+237) {{ customerPhone }}<br>
                            </address>
                        </div>
                        <div class="invoice-date">
                            <small>Facture </small>
                            <div class="date text-inverse m-t-5">{{ invoiceDate | date:'short' }}</div>
                            <div class="invoice-detail">
                                Numero De La Facture: {{ invoiceNumer }}<br>
                            </div>
                        </div>
                    </div><!-- end invoice-header -->
                    <!-- begin invoice-content -->
                    <div class="invoice-content">
                        <!-- begin table-responsive -->
                        <div class="table-responsive">
                            <table class="table table-invoice">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase" width="10%">NUMERO DE LA FACTURE</th>
                                        <th class="text-center text-uppercase" width="10%">Nom du produit</th>
                                        <th class="text-center text-uppercase" width="10%">quantite</th>
                                        <th class="text-center text-uppercase" width="10%">Prix</th>
                                        <th class="text-right text-uppercase" width="20%">TOTAL DE LIGNE</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let invoiceSale of invoices$ | async ">
                                    <tr>
                                        <td>{{ invoiceSale.invoiceNumber }}</td>
                                        <td>
                                            <span class="text-inverse">
                                                {{ invoiceSale.sale.product.name| uppercase }}</span><br>
                                        </td>
                                        <td class="text-center">{{ invoiceSale?.sale?.quantity }}</td>
                                        <td class="text-center">{{ invoiceSale?.sale?.price| CustomCurrency
                                            }}</td>
                                        <td class="text-right">{{ invoiceSale.sale.amount | CustomCurrency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- end table-responsive -->
                        <!-- begin invoice-price -->
                        <div class="invoice-price">
                            <div class="invoice-price-left">
                                <div class="invoice-price-row">
                                    <div class="sub-price">
                                        <small>SOUS TOTAL</small>
                                        <span class="text-inverse">{{ invoiceSubTotal | CustomCurrency }}</span>
                                    </div>
                                    <div class="sub-price">
                                        <i class="fa fa-plus text-muted"></i>
                                    </div>
                                    <div class="sub-price">
                                        <small>OM,MTN MOBIL FEE (0.0%)</small>
                                        <span class="text-inverse">{{ invoiceTax | CustomCurrency }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-price-right">
                                <small>TOTAL</small> <span class="fw-bold">{{ invoiceTotal | CustomCurrency }}</span>
                            </div>
                        </div><!-- end invoice-price -->
                    </div><!-- end invoice-content -->
                    <!-- begin invoice-note -->
                    <div class="invoice-note">
                        * Si vous avez des questions concernant cette facture, contactez universalemeche&#64;gmail.com
                    </div> <!-- end invoice-note -->
                    <!-- begin invoice-footer -->
                    <div class="invoice-footer">
                        <p class="text-center m-b-5 f-w-600">
                            MERCI POUR VOS ACHATS
                        </p>
                        <p class="text-center">
                            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> universalmeche.com</span>
                            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> T:+237
                                +237 6 96 03 71 07</span>
                            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i>
                                universalemeche&#64;gmail.com</span>
                        </p>
                    </div><!-- end invoice-footer -->
                </div>
            </div>
        </div>
    </ng-container>
</div>